@model Opportunity

<div class="well">
    <form id="@Model.OPPORTUNITYID" asp-action="AddToCart"
          asp-controller="Cart" method="post">
        <div>
            <div class="row">
                <div class="col-sm-3">@Model.OpportunityName</div>
                <div class="col-sm-3">@Model.OpportunityDate</div>
                <div class="col-sm-3">
                    <p>Interest:</p>
                    @if (Model.OpportunityNutrition == true)
                    {
                        <p>Nutrition</p>
                    }
                    @if (Model.OpportunityAdmin == true)
                    {
                        <p> Admin</p>
                    }
                    @if (Model.OpportunityCaregiver == true)
                    {
                        <p> Care giver</p>
                    }
                    @if(Model.OpportunityDiseaseManagement == true)
                    {
                        <p> Disease Management</p>
                    }
                    @if(Model.OpportunityEvents == true)
                    {
                        <p> Events</p>
                    }
                    @if(Model.OpportunityFallsPrevention == true)
                    {
                        <p> Falls Prevention</p>
                    }
                    @if (Model.OpportunityGeneral == true)
                    {
                        <p> General</p>
                    }
                    @if(Model.OpportunityHealthyLiving == true)
                    {
                        <p> Healthy Living</p>
                    }
                    @if(Model.OpportunityMentalWellness == true)
                    {
                        <p> Mental Wellness</p>
                    }
                    @if(Model.OpportunitySocialMedia == true)
                    {
                        <p> Social Media</p>
                    }
                    @if (Model.OpportunityTrainingFacilitator == true)
                    {
                        <p> Training Facilitator</p>
                    }
                    @if(Model.OpportunityOtherInterest != null && Model.OpportunityOtherInterest != "")
                    {
                        <p> @Model.OpportunityOtherInterest</p>
                    }
                </div>
                <div class="col-sm-1">
                    <input type="hidden" name="opportunityId" value="@Model.OPPORTUNITYID" />
                    <input type="hidden" name="returnUrl"
                           value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <button type="submit" class="btn btn-success btn-sm pull-right">
                        Add to Cart
                    </button>
                </div>
                <div class="col-sm-2">
                    <a asp-controller="Home" asp-action="DisplayInformation" id="@Model.OPPORTUNITYID"
                       asp-route-id="@Model.OPPORTUNITYID" class="btn btn-sm btn-danger pull-right">More Information</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10">@Model.OpportunityDescription</div>
            </div>
        </div>
    </form>
    
</div>