@model Volunteer2OpportunityViewModel

<form asp-action="CreateVolunteer" method="post">
    <input asp-for="@Model.OpportunityList" type="hidden" />
    <table class="table">
        <tr>
            <td colspan="2" style="text-align:center"><h4>Volunteer Form</h4></td>
        </tr>
        <tr>
            <td><label asp-for="@Model.volunteer.FirstName">First Name:</label></td>
            <td><input asp-for="@Model.volunteer.FirstName" /></td>
        </tr>
        <tr>
            <td><label asp-for="@Model.volunteer.LastName">Last Name:</label></td>
            <td><input asp-for="@Model.volunteer.LastName" /></td>
        </tr>
        <tr>
            <td><label asp-for="@Model.volunteer.Address">Street Address:</label></td>
            <td><input asp-for="@Model.volunteer.Address" /></td>
        </tr>
        <tr>
            <td><label asp-for="@Model.volunteer.City">City:</label></td>
            <td><input asp-for="@Model.volunteer.City" />
            <td>
        </tr>
        <tr>
            <td><label asp-for="@Model.volunteer.State">State:</label></td>
            <td><input asp-for="@Model.volunteer.State" /></td>
        </tr>
        <tr>
            <td><label asp-for="@Model.volunteer.ZipCode">Zip Code:</label></td>
            <td><input asp-for="@Model.volunteer.ZipCode" /></td>
        </tr>
        <tr>
            <td><label asp-for="@Model.volunteer.Email">Email Address:</label></td>
            <td><input asp-for="@Model.volunteer.Email" /></td>
        </tr>
        <tr>
            <td><label asp-for="@Model.volunteer.DateOfBirth">Date of Birth:</label></td>
            <td><input asp-for="@Model.volunteer.DateOfBirth" /></td>
        </tr>
        <tr>
            <td><label>Availability:</label></td>
            <td style="border:solid;width:10%"><label>Sunday</label></td>
            <td style="border:solid;width:15%"><label>Monday</label></td>
            <td style="border:solid"><label>Tuesday</label></td>
            <td style="border:solid"><label>Wednesday</label></td>
            <td style="border:solid"><label>Thursday</label></td>
            <td style="border:solid"><label>Friday</label></td>
            <td style="border:solid"><label>Saturday</label></td>
        </tr>
        <tr>
            <td><label>All Day:</label></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableSunday" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableMonday" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableTuesday" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableWednesday" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableThursday" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableFriday" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableSaturday" /></td>
        </tr>
        <tr>
            <td><label>Morning:</label></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableSundayMorning" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableMondayMorning" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableTuesdayMorning" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableWednesdayMorning" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableThursdayMorning" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableFridayMorning" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableSaturdayMorning" /></td>
        </tr>
        <tr>
            <td><label>Afternoon:</label></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableSundayAfternoon" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableMondayAfternoon" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableTuesdayAfternoon" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableWednesdayAfternoon" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableThursdayAfternoon" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableFridayAfternoon" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableSaturdayAfternoon" /></td>
        </tr>
        <tr>
            <td><label>Evening:</label></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableSundayEvening" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableMondayEvening" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableTuesdayEvening" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableWednesdayEvening" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableThursdayEvening" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableFridayEvening" /></td>
            <td style="border:solid"><input asp-for="@Model.volunteer.AvailableSaturdayEvening" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center"><h4>Interest:</h4></td>
        </tr>
        <tr>
            <td><input asp-for="@Model.volunteer.Nutrition" /><label asp-for="@Model.volunteer.Nutrition">Nutrition</label></td>
            <td><input asp-for="@Model.volunteer.TrainingFacilitator" /><label asp-for="@Model.volunteer.TrainingFacilitator">Training Facilitator</label></td>
            <td><input asp-for="@Model.volunteer.Admin" /><label asp-for="@Model.volunteer.Admin">Admin</label></td>
        </tr>
        <tr>
            <td><input asp-for="@Model.volunteer.General" /><label asp-for="@Model.volunteer.General">General</label></td>
            <td><input asp-for="@Model.volunteer.HealthyLiving" /><label asp-for="@Model.volunteer.HealthyLiving">Healthy Living</label></td>
            <td><input asp-for="@Model.volunteer.DiseaseManagement" /><label asp-for="@Model.volunteer.DiseaseManagement">Disease Management</label></td>
        </tr>
        <tr>
            <td><input asp-for="@Model.volunteer.FallsPrevention" /><label asp-for="@Model.volunteer.FallsPrevention">Falls Prevention</label></td>
            <td><input asp-for="@Model.volunteer.Caregiver" /><label asp-for="@Model.volunteer.Caregiver">Caregivers</label></td>
            <td><input asp-for="@Model.volunteer.MentalWellness" /><label asp-for="@Model.volunteer.MentalWellness">Mental Wellness</label></td>
        </tr>
        <tr>
            <td><input asp-for="@Model.volunteer.Events" /><label asp-for="@Model.volunteer.Events">Events</label></td>
            <td><input asp-for="@Model.volunteer.SocialMedia" /><label asp-for="@Model.volunteer.SocialMedia">Social Media</label></td>
        </tr>
        <tr>
            <td><label asp-for="@Model.volunteer.OtherInterest">Other Interest:</label></td>
            <td><input asp-for="@Model.volunteer.OtherInterest" /></td>
        </tr>
        <tr>
            <td col-span="2"><button type="submit">Submit</button></td>
        </tr>
    </table>
</form> 